/* assets/css/general.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;

    background-color: #fefbd8;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80%;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    position: absolute;
    
    background : rgba(240, 188, 47, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu button, .level-selector button, .next-button, .end-button {
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px 25px;
    background-color: #f4ccd7;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: grey;
    margin: 10px;
    box-shadow: 0 4px #ED97AF;
    width: 100%;
    max-width: 300px;

    transition:all 0.5s ease;
}

.menu button:hover, .level-selector button:hover, .next-button:hover, .end-button:hover {
    background-color: #ED97AF;
}

.menu button i, .level-selector button i {
    margin-right: 10px;
}

.question {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff6347;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.options button {
    font-size: 2em;
    padding: 15px 25px;
    background-color: #f4ccd7;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px #ED97AF;
    width: 100%;
    max-width: 150px;

    transition:all 0.5s ease;
}

.options button:hover {
    background-color: #f4ccd7;
}

/* Estilos para el mensaje con altura fija */
.message {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2e8b57;
    min-height: 50px; /* Establecer una altura mínima para evitar saltos */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease; /* Transición para suavizar la aparición y desaparición */
    opacity: 1;
}

/* Inicialmente ocultamos el mensaje */
.message.hidden {
    opacity: 0;
}

.game-img{
    height: 150px;
    border-rodius: 100%;

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


/* Estilos para el contenedor de progreso */
.progress {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

/* Estilos para la barra de tiempo */
.time-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;

    margin: 5px 20px 20 20px;
    
    height: 20px;
    overflow: hidden;
}

.time-bar-inner {
    
    height: 100%;
    background-color: #ED97AF;
    width: 100%;
    transition: width 1s linear;
}




/* Responsive adjustments */
@media (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }

    .profile-img {
        width: 100%;
        max-width: 250px;
        height: 100%;
    }

    .title-container {
        margin-bottom: 10px;
    }

    .menu button, .level-selector button, .next-button, .end-button {
        font-size: 1.2em;
    }

    .question {
        font-size: 2em;
    }

    .options button {
        font-size: 1.5em;
        max-width: 100%;
    }

    .time-bar {
        height: 15px;
    }
}

